.flex {
    display: flex;
    flex-direction: column;
}

.flex label {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.flex input {
    border: 1.5px solid #3f2e2e;
    background-color: rgba(255, 253, 251, 0.648);
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
}

form {
    background-color: rgba(134, 248, 212, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    box-sizing: border-box;
}

.card {
    padding: 40px;
    margin: 30px auto;
    max-width: 400px;
    background-color: rgba(230, 230, 230, 0.829);
    border-radius: 10px;
    text-align: center;
}

.card h1 {
    font-size: 24px;
    color: rgb(3, 7, 63);
    margin-bottom: 15px;
}

.button button{
    background-color: rgba(135, 235, 255, 0.671);
    padding: 10px;
    color: rgb(3, 7, 63);
    font-size: 16px;
    font-weight: bolder;
}

.button button:hover{
    background-color: rgba(4, 39, 74, 0.671);
    cursor: pointer;
    color: white;
}