.flex label{
    color: rgb(74, 3, 3);
    font-size: 18px;
}

.flex input {
    border: 1px solid #ccc;
    background-color: rgba(255, 253, 251, 0.648);
    padding: 10px 10px; 
    margin: 10px 0;
    border-radius: 5px;
}

form {
    background-color: rgba(134, 248, 212, 0.671);
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    padding: 100px;
    margin: 30px 300px;
    max-width: 400px;
}