.background {
    background-image: url('../assets/loginback.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background h1{
    padding-top: 10px;
    text-align: center;
}

.background form{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.background input{
    padding: 4px;  
}