.body {
    background-image: url('../assets/loginback.avif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 510px; 
    margin-top: -21px;
}

.body{
    text-align: center;
}

.body h1{
    padding-top: 10px;
}

.head label{
    font-size: 16px;
    padding: 10px;
}

.head input{
    font-size: 16px;
    padding: 2px;
}

.body button{
    margin-top: 20px;
    padding: 7px;
    background-color: rgba(0, 255, 255, 0.251);
    cursor: pointer;
}
.body button:hover{
    background-color:  rgba(51, 8, 8, 0.631);
    color: white;
}