.home{
    background-image: url('../assets/loginback.avif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 510px; 
    margin-top: -21px;
}

.home h1{
    text-align: center;
    padding: 230px;
}