.card {
    padding: 10px;
    margin: 50px auto;
    max-width: 450px;
    border-radius: 10px;
}

.card form {
    background-image: url('../assets/backgroundLoginPage.avif');
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex input {
    border: 1.5px solid black;
    background-color: rgba(255, 253, 251, 0.986);
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
}

.flex input::placeholder {
    font-size: 14px;
    color: rgb(62, 62, 5);
}

.flex span{
    color: rgb(255, 5, 5);
    font-weight: bolder;
    background-color: rgba(255, 228, 196, 0.342);
    padding: 2px;
}

.button button{
    background-color: rgba(135, 235, 255, 0.468);
    padding: 4px 14px;
    margin-top: 10px;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
}

.button button:hover{
    background-color: rgba(35, 43, 47, 0.631);
    cursor: pointer;
    color: white;
}