.table-wrapper {
  width: 100%;
  max-width: 700px; 
  display: flex;
  justify-content: center;
}

table.table {
  width: 80%;
  border-collapse: separate;
  margin-left: 10%;
  border-spacing: 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
}

table.table thead tr {
  background-color: #7b96d6;
  color: white;
  font-weight: 600;
}

table.table thead td {
  padding: 10px 6px;
  text-align: center;
  vertical-align: middle;
}

table.table tbody td {
  padding: 10px 8px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

table.table tbody tr:hover {
  background-color: #f1f3f5;
}

table.table tbody td.text-start {
  text-align: left;
  padding-left: 15px;
  font-weight: 500;
}
